<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    <add name="Sqlite_InMemory" providerName="System.Data.SQLite" connectionString="Data Source=:memory:;Version=3;New=True" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
	  <services>
		  <service name="Sample.Wcf.SampleService" behaviorConfiguration="ServiceBehaviour">
			  <endpoint address="" binding="basicHttpBinding" contract="Sample.Wcf.ISampleService" behaviorConfiguration="MiniBehaviour" >
				  <identity>
					  <dns value="localhost" />
				  </identity>				  
			  </endpoint>			  
			  <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			  <host>
				  <baseAddresses>
					  <add baseAddress="http://localhost:54025/" />
				  </baseAddresses>
			  </host>
		  </service>		  
	  </services>
    <bindings>
      <basicHttpBinding>
        <binding name="binding" maxReceivedMessageSize="1024000"  />
      </basicHttpBinding>
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="wcfMiniProfilerBehavior" type="StackExchange.Profiling.Wcf.WcfMiniProfilerBehavior, MiniProfiler.Wcf, Version=2.0.4.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>
	
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>		
      <endpointBehaviors>
        <!--<behavior name="WebBehaviour">
			<webHttp/>						
        </behavior>-->
		  <behavior name="MiniBehaviour">
			  <wcfMiniProfilerBehavior />  
		  </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
	  <diagnostics>
		  <messageLogging
			   logEntireMessage="true"
			   logMalformedMessages="false"
			   logMessagesAtServiceLevel="true"
			   logMessagesAtTransportLevel="false"
			   maxMessagesToLog="3000"
			   maxSizeOfMessageToLog="2000"/>
	  </diagnostics>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>	
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="messages"
					type="System.Diagnostics.XmlWriterTraceListener"
					initializeData="C:\NewMini\trunk\SamSaffron-MiniProfiler-cf35996\Sample.Wcf\logs\messages.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	

</configuration>
